<!-- <form action="/posts" method="post" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="이름"/><br />
  <input type="text" name="title" placeholder="제목"/><br />
  <textarea name="content" placeholder="내용"></textarea><br />
  <input type="file" name="postimage"><br />
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="submit" value="뿅">
</form> -->

<h3>게시글 작성하기</h3>
<div class="container">

  <%= form_tag("/posts", method: "post", multipart: true, class: "mt-5") do %>
    <%= text_field_tag("post[title]", nil, placeholder: "제목", class: "form-control") %> <br />
    <%= file_field_tag("post[postimage]" ) %><br />
    <%= text_area_tag("post[content]",nil, placeholder: "내용", class: "form-control") %> <br />
    <%= button_tag("뿅" , class: "btn btn-primary ")  %>
  <% end %>

</div>
