
제목: <%= @post.title %><br />
글쓴이: <%= @post.name %><br />
내용 : <%= @post.content%>
<br />
<a href="/posts/<%=@post.id%>/edit">수정</a>
<a data-method ="delete" href="/posts/<%=@post.id%>">삭제</a>
<hr />
